*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto;
}
.style-h3{
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
}
.style-form{
    background-color: white; 
    width: 42%;
    margin: auto;
    padding-top: 20px; 
    padding-left: 15px;
    padding-bottom: 20px;
}
#name{
    height: 25px;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 20px;
}
input::placeholder{
    color: #aaa;
    padding-left: 5px;
}
#email{
    height: 25px;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 20px;
}
#age{
    height: 25px;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.style-select{
    height: 30px;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 20px;
}
#yes, #no, #c, #c-add, #c-ash, #java, #python, #js, #react, #angular, #django, #style-qa{
    margin-bottom: 5px;
    margin-right: 5px;
}
#spring{
    margin-bottom: 20px; 
    margin-right: 5px;
}
#comments{
    margin-top: 5px;
}
#maybe{
    margin-right: 5px;
}
.btn{
    margin-top: 15px;
    margin-bottom: 20px;
}

@media (max-width: 475px) {
    .style-form{
        width: 80%;
        margin-bottom: 30px;
    }
    #name, #age, #email, #comments{
        width: 90%;
    }
    .style-select{
        width: 90%;
    }
    footer{
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .style-form{
        width: 70%;
        margin-bottom: 30px;
    }
    #name, #age, #email, #comments{
        width: 90%;
    }
    .style-select{
        width: 90%;
    }
    footer{
        margin-bottom: 20px;
    }
}
@media (min-width: 769px) {
    .style-form{
        width: 60%;
        margin-bottom: 30px;
    }
    #name, #age, #email, #comments{
        width: 90%;
    }
    .style-select{
        width: 90%;
    }
    footer{
        margin-bottom: 20px;
    }
}